<footer>
  <p>© 2020 Denny Hong | All Rights Reserved</p>
  <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/denny-haiyang-hong-7a7230104/">
<i class="fab fa-linkedin"></i></a>
</div>

</footer>

</body>
</html>
