body {
    background-color: #e8ecef;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 5%;
}

.linkedin {
    color: #0e76a8;
    text-decoration: none;
    font-size: 1.6rem;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}
